<html>
    <head>
        <link rel="stylesheet" href="home.css">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">    </head>
    <body class="container">
        <div class="menu">
            <div class="menu-profile">
                <div class="menu-name">
                    <span style="font-family: 'Ubuntu', sans-serif; font-size: 1.5em; color: white">Display name</span><br><br> 
                    <span style="font-family: 'Press Start 2P', cursive; color: navajowhite;">michelleespranita</span>
                </div>
                <div class="menu-create">
                    <span><a href="#"><img src="../static/pencil.png" height="40"></a></span>
                </div>  
            </div>
            <br>    
            <hr>
            <div class="menu-channel">
                <div class="menu-channel-names">
                    <span style="font-family: 'Ubuntu', sans-serif; font-size: 1.5em; color: white">Channels</span><br><br> 
                </div>
                <div class="menu-channel-options">
                    <span><a href="#" style="color: white; font-size: 2em; text-decoration: none;">+</a></span>
                </div>
            </div>
        </div>
        <div class="chat-space">

        </div>
    </body>
</html>