<html>
    <head>
        <!-- <link rel="stylesheet" href="home.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@400;500&family=Kalam:wght@400;700&display=swap" rel="stylesheet">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        <script src="{{ url_for('static', filename='home.js') }}"></script>
    </head>
    <body id="body">
        <div class="menu">
            <div class="menu-profile">
                <div class="display-name">
                    <div style="font-family: 'Ubuntu', sans-serif; font-size: 1em; color: white; padding-bottom: 5px;">Display name</div>
                    <div class="display-name-content"></div>                
                </div>
            </div>
            <div class="menu-channel">
                <div class="menu-channel-header">
                    <div class="menu-channel-title">
                        Channels
                    </div>
                    <div class="menu-channel-add">
                        <a id="create-channel" href="#">+</a>
                    </div>
                </div>
                <br>
                <div class="handlebars-channel" id="handlebars-channel">
                </div>
                <br><br><br>
            </div>
            <div class="blank"></div>
            
        </div>
        <div class="chat-space">
            <div class="channel-name-header">
                <div class="channel-name" id="channel-name" style="font-family: 'Kalam', cursive;"></div>
                <div class="channel-detail">
                    <a href='#' class="info-icon"><img src="../static/info-icon.png"></a>
                </div>
            </div>
            <div class="desc-space"></div>
            <div class="messages" id="messages">
            </div>
            <div class="reply-box">
                <div class="close-reply-box"><a href="#" onclick="closeReplyBox()"><img src="../static/close-window.png"></a></div>
                <div class="reply-message">
                    <div class="reply-message-content">
                        <div class="reply-message-id"></div>
                        <div class="reply-message-sender"></div>
                        <div class="reply-message-text"></div>
                    </div>
                </div>
            </div>
            <div class="chat-input">
                <div class="chat-text">
                    <form action="">
                        <textarea id="chatbox" placeholder="Type a message"></textarea>
                    </form>
                </div>
            </div>
        </div>
        
        {% if hidden %}
        <div class="background-black" style="visibility: hidden"></div>

        <div class="create-channel-background" style="visibility: hidden;">
            <div class="create-channel-form" style="visibility: hidden;">
                <div class="close-create-channel">
                    <button class="close-create-channel-button">X</button>
                </div>
               <br>
                <div class="create-channel-form-content">
                    <h1>Create a channel</h1>
                    <div style="padding-bottom: 10px;"><label style="font-family: 'Ubuntu', sans-serif; font-size: 1.3em; font-weight: bolder;">Name</label></div>
                    <div><input type="text" placeholder="Mario Kart Gamers" class="channel-name-input" name="channelName" size="45" maxlength="30" required></div>
                        <span class="warning" style="font-family: 'Ubuntu', sans-serif; color: red;">This channel name already exists. Please use another name.</span>
                        <br>
                    <label style="font-family: 'Ubuntu', sans-serif; font-size: 1.3em; font-weight: bolder;">Description <span style="font-size: 0.7em;">(optional)</span></label><br><br>
                    <textarea class="channel-desc" name="channelDesc" rows="5" cols="45"></textarea><br><br>
                    <button class="submit-channel">Create</button>
                </div>
            </div>
        </div>

        {% else %}
        <div class="background-black"></div>
        <div class="create-channel-background" style="visibility: visible;">
            <div class="create-channel-form" style="visibility: visible;">
                <div class="close-create-channel">
                    <button class="close-create-channel-button">X</button>
                </div>
                <br>
                <div class="create-channel-form-content">
                    <h1>Create a channel</h1>
                    <div style="padding-bottom: 10px;"><label style="font-family: 'Ubuntu', sans-serif; font-size: 1.3em; font-weight: bolder;">Name</label></div>
                    <div><input type="text" placeholder="Mario Kart Gamers" class="channel-name-input" name="channelName" size="45" maxlength="30" required></div>
                        <span class="warning" style="font-family: 'Ubuntu', sans-serif; color: red;">This channel name already exists. Please use another name.</span>
                        <br>
                    <label style="font-family: 'Ubuntu', sans-serif; font-size: 1.3em; font-weight: bolder;">Description <span style="font-size: 0.7em;">(optional)</span></label><br><br>
                    <textarea class="channel-desc" name="channelDesc" rows="5" cols="45"></textarea><br><br>
                    <button class="submit-channel">Create</button>
                </div>
            </div>
        </div>
        {% endif %}
    </body>
</html>